<h2>Agregar Producto</h2>
<hr>

<form [formGroup]="myForm">
  <div class="row g-3 align-items-center" >

    <div class="col-auto">
      <label >Nombre:</label>
    </div>

    <div class="col-auto">
      <input formControlName="name" class="form-control" type="text">
    </div>


    <div class="col-auto">
      <span class="col-auto" label-custom
      [color]="color"
      [errors]="myForm.get('name')?.errors"
      ></span>
    </div>

  </div>

  <button class="btn btn-primary mt-2" (click)="changeColor()">Cambiar color</button>

  <pre class="mt-5">{{myForm.get('name')?.errors | json}}</pre>
  <h5 class="mt-2">Color: {{color}}</h5>
</form>
